<script>
  ;(function () {
    // var extServiceWorker = true
    var extServiceWorker = '{{ site.extServiceWorker }}' === 'true'
    if (!extServiceWorker) return
    if (!navigator.serviceWorker) return
    if (location.protocol !== 'https:' && location.hostname !== '127.0.0.1') return
    window.addEventListener('load', function () {
      navigator.serviceWorker.register(blog.baseurl + '/service-worker.js').catch(function (e) {
        console.error('serviceWorker register fail', e)
      })
      navigator.serviceWorker.addEventListener('controllerchange', () => {
        window.location.reload()
      })
    })
  })()
</script>

<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"21AULIuFPZRkpKqD",ck:"21AULIuFPZRkpKqD"})</script>
